USE [master]
GO
/****** Object:  Database [GameStore]    Script Date: 6/20/2026 1:30:52 PM ******/
CREATE DATABASE [GameStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GameStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GameStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GameStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GameStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GameStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GameStore]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 6/20/2026 1:30:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cart_id] [nvarchar](20) NOT NULL,
	[username] [nvarchar](30) NULL,
	[created_at] [date] NULL,
	[status] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 6/20/2026 1:30:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[cart_item_id] [nvarchar](20) NOT NULL,
	[cart_id] [nvarchar](20) NULL,
	[game_id] [nvarchar](20) NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/20/2026 1:30:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [nvarchar](20) NOT NULL,
	[category_name] [nvarchar](20) NULL,
	[description] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeveloperProfiles]    Script Date: 6/20/2026 1:30:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeveloperProfiles](
	[developer_id] [nvarchar](20) NOT NULL,
	[username] [nvarchar](30) NULL,
	[studio_name] [nvarchar](30) NULL,
	[description] [nvarchar](90) NULL,
	[revenue] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[developer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 6/20/2026 1:30:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[discount_id] [nvarchar](20) NOT NULL,
	[game_id] [nvarchar](20) NULL,
	[discount_percent] [float] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[discount_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game]    Script Date: 6/20/2026 1:30:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game](
	[game_id] [nvarchar](20) NOT NULL,
	[developer_id] [nvarchar](20) NULL,
	[game_name] [nvarchar](40) NULL,
	[description] [nvarchar](300) NULL,
	[price] [float] NULL,
	[release_date] [date] NULL,
	[rating] [int] NULL,
	[thumbnail] [nvarchar](40) NULL,
	[status] [nvarchar](20) NULL,
	[video_url] [varchar](100) NULL,
	[ram] [nvarchar](20) NULL,
	[storage] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameCategories]    Script Date: 6/20/2026 1:30:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameCategories](
	[game_id] [nvarchar](20) NOT NULL,
	[category_id] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_GameCategories] PRIMARY KEY CLUSTERED 
(
	[game_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameImages]    Script Date: 6/20/2026 1:30:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameImages](
	[image_id] [nvarchar](20) NOT NULL,
	[game_id] [nvarchar](20) NULL,
	[image_url] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 6/20/2026 1:30:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [nvarchar](20) NOT NULL,
	[username] [nvarchar](30) NULL,
	[title] [nvarchar](20) NULL,
	[content] [nvarchar](400) NULL,
	[is_read] [bit] NULL,
	[created_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 6/20/2026 1:30:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[order_detail_id] [nvarchar](20) NOT NULL,
	[order_id] [nvarchar](10) NULL,
	[game_id] [nvarchar](20) NULL,
	[price] [float] NULL,
	[discount_amount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/20/2026 1:30:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [nvarchar](10) NOT NULL,
	[username] [nvarchar](30) NULL,
	[order_date] [date] NULL,
	[total_amount] [int] NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 6/20/2026 1:30:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[payment_id] [nvarchar](20) NULL,
	[order_id] [nvarchar](10) NULL,
	[payment_method] [nvarchar](20) NULL,
	[payment_status] [nvarchar](10) NULL,
	[paid_at] [date] NULL,
	[transaction_code] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 6/20/2026 1:30:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[review_id] [nvarchar](20) NOT NULL,
	[username] [nvarchar](30) NULL,
	[game_id] [nvarchar](20) NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](200) NULL,
	[created_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/20/2026 1:30:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [nvarchar](10) NOT NULL,
	[role_name] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 6/20/2026 1:30:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[username] [nvarchar](30) NULL,
	[role_id] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/20/2026 1:30:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [nvarchar](30) NOT NULL,
	[email] [nvarchar](50) NULL,
	[password] [nvarchar](40) NULL,
	[fullname] [nvarchar](40) NULL,
	[avatar] [nvarchar](50) NULL,
	[created_date] [date] NULL,
	[status] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WishList]    Script Date: 6/20/2026 1:30:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishList](
	[wishlist_id] [nvarchar](20) NOT NULL,
	[username] [nvarchar](30) NULL,
	[game_id] [nvarchar](20) NULL,
	[added_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[wishlist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cart] ([cart_id], [username], [created_at], [status]) VALUES (N'CART001', N'admin01', CAST(N'2026-05-02' AS Date), N'Open')
INSERT [dbo].[Cart] ([cart_id], [username], [created_at], [status]) VALUES (N'CART002', N'trieu01', CAST(N'2026-05-02' AS Date), N'Open')
INSERT [dbo].[Cart] ([cart_id], [username], [created_at], [status]) VALUES (N'CART003', N'dev01', CAST(N'2026-05-03' AS Date), N'Closed')
GO
INSERT [dbo].[Categories] ([category_id], [category_name], [description]) VALUES (N'CAT001', N'Action', N'Game hành động')
INSERT [dbo].[Categories] ([category_id], [category_name], [description]) VALUES (N'CAT002', N'RPG', N'Game nhập vai')
INSERT [dbo].[Categories] ([category_id], [category_name], [description]) VALUES (N'CAT003', N'Survival', N'Game sinh tồn')
GO
INSERT [dbo].[DeveloperProfiles] ([developer_id], [username], [studio_name], [description], [revenue]) VALUES (N'DEV001', N'admin01', N'Sky Studio', N'Chuyên phát triển game hành động', 15000000)
INSERT [dbo].[DeveloperProfiles] ([developer_id], [username], [studio_name], [description], [revenue]) VALUES (N'DEV002', N'trieu01', N'Dragon Game', N'Nhà phát triển game nhập vai', 20000000)
INSERT [dbo].[DeveloperProfiles] ([developer_id], [username], [studio_name], [description], [revenue]) VALUES (N'DEV003', N'dev01', N'Pixel Team', N'Game indie và sinh tồn', 10000000)
GO
INSERT [dbo].[Discounts] ([discount_id], [game_id], [discount_percent], [start_date], [end_date], [status]) VALUES (N'DIS001', N'GM001', 20, CAST(N'2026-05-01' AS Date), CAST(N'2026-05-15' AS Date), N'Active')
INSERT [dbo].[Discounts] ([discount_id], [game_id], [discount_percent], [start_date], [end_date], [status]) VALUES (N'DIS002', N'GM002', 35, CAST(N'2026-05-05' AS Date), CAST(N'2026-05-20' AS Date), N'Active')
INSERT [dbo].[Discounts] ([discount_id], [game_id], [discount_percent], [start_date], [end_date], [status]) VALUES (N'DIS003', N'GM003', 15, CAST(N'2026-05-10' AS Date), CAST(N'2026-05-25' AS Date), N'Active')
GO
INSERT [dbo].[game] ([game_id], [developer_id], [game_name], [description], [price], [release_date], [rating], [thumbnail], [status], [video_url], [ram], [storage]) VALUES (N'GM001', N'DEV001', N'Fear and Hunger', N'Game hành động hầm ngục', 499000, CAST(N'2025-10-01' AS Date), 5, N'FAH1.jpg', N'Active', N'https://www.youtube.com/watch?v=l79lFJofQZg&list=RDl79lFJofQZg&start_radio=1', N'8GB', N'50GB')
INSERT [dbo].[game] ([game_id], [developer_id], [game_name], [description], [price], [release_date], [rating], [thumbnail], [status], [video_url], [ram], [storage]) VALUES (N'GM002', N'DEV002', N'Battle Arena', N'Game chiến thuật online', 699000, CAST(N'2025-11-15' AS Date), 4, N'battle.jpg', N'Active', N'a', N'16GB', N'80GB')
INSERT [dbo].[game] ([game_id], [developer_id], [game_name], [description], [price], [release_date], [rating], [thumbnail], [status], [video_url], [ram], [storage]) VALUES (N'GM003', N'DEV003', N'Survival Land', N'Game sinh tồn thế giới mở', 299000, CAST(N'2025-12-20' AS Date), 5, N'survival.jpg', N'Active', N'a', N'8GB', N'60GB')
GO
INSERT [dbo].[GameCategories] ([game_id], [category_id]) VALUES (N'GM001', N'CAT001')
INSERT [dbo].[GameCategories] ([game_id], [category_id]) VALUES (N'GM001', N'CAT002')
INSERT [dbo].[GameCategories] ([game_id], [category_id]) VALUES (N'GM001', N'CAT019')
GO
INSERT [dbo].[GameImages] ([image_id], [game_id], [image_url]) VALUES (N'IMG001', N'GM001', N'FAH2.jpg')
INSERT [dbo].[GameImages] ([image_id], [game_id], [image_url]) VALUES (N'IMG002', N'GM002', N'battle1.jpg')
INSERT [dbo].[GameImages] ([image_id], [game_id], [image_url]) VALUES (N'IMG003', N'GM003', N'survival1.jpg')
GO
INSERT [dbo].[Notifications] ([notification_id], [username], [title], [content], [is_read], [created_at]) VALUES (N'NT001', N'admin01', N'Khuyến mãi', N'Game Cyber Warriors đang giảm giá 50%', 1, CAST(N'2026-05-01' AS Date))
INSERT [dbo].[Notifications] ([notification_id], [username], [title], [content], [is_read], [created_at]) VALUES (N'NT002', N'trieu01', N'Cập nhật', N'Game Battle Arena đã có phiên bản mới', 1, CAST(N'2026-05-02' AS Date))
INSERT [dbo].[Notifications] ([notification_id], [username], [title], [content], [is_read], [created_at]) VALUES (N'NT003', N'dev01', N'Sự kiện', N'Sự kiện Summer Sale bắt đầu', 0, CAST(N'2026-05-03' AS Date))
GO
INSERT [dbo].[OrderDetails] ([order_detail_id], [order_id], [game_id], [price], [discount_amount]) VALUES (N'ODD001', N'OD001', N'GM001', 499000, 0)
INSERT [dbo].[OrderDetails] ([order_detail_id], [order_id], [game_id], [price], [discount_amount]) VALUES (N'ODD002', N'OD002', N'GM002', 699000, 50000)
INSERT [dbo].[OrderDetails] ([order_detail_id], [order_id], [game_id], [price], [discount_amount]) VALUES (N'ODD003', N'OD003', N'GM003', 299000, 0)
GO
INSERT [dbo].[Orders] ([order_id], [username], [order_date], [total_amount], [status]) VALUES (N'OD001', N'admin01', CAST(N'2026-05-10' AS Date), 499000, N'Pending')
INSERT [dbo].[Orders] ([order_id], [username], [order_date], [total_amount], [status]) VALUES (N'OD002', N'trieu01', CAST(N'2026-05-11' AS Date), 699000, N'Paid')
INSERT [dbo].[Orders] ([order_id], [username], [order_date], [total_amount], [status]) VALUES (N'OD003', N'dev01', CAST(N'2026-05-12' AS Date), 299000, N'Cancelled')
GO
INSERT [dbo].[Payments] ([payment_id], [order_id], [payment_method], [payment_status], [paid_at], [transaction_code]) VALUES (N'PM001', N'OD001', N'Momo', N'Success', CAST(N'2026-05-10' AS Date), N'TRANS001')
INSERT [dbo].[Payments] ([payment_id], [order_id], [payment_method], [payment_status], [paid_at], [transaction_code]) VALUES (N'PM002', N'OD002', N'Visa', N'Pending', CAST(N'2026-05-11' AS Date), N'TRANS002')
INSERT [dbo].[Payments] ([payment_id], [order_id], [payment_method], [payment_status], [paid_at], [transaction_code]) VALUES (N'PM003', N'OD003', N'Paypal', N'Success', CAST(N'2026-05-12' AS Date), N'TRANS003')
GO
INSERT [dbo].[Reviews] ([review_id], [username], [game_id], [rating], [comment], [created_at]) VALUES (N'RV001', N'admin01', N'GM001', 5, N'Game rất hay', CAST(N'2026-05-10' AS Date))
INSERT [dbo].[Reviews] ([review_id], [username], [game_id], [rating], [comment], [created_at]) VALUES (N'RV002', N'trieu01', N'GM002', 4, N'Đồ họa đẹp', CAST(N'2026-05-11' AS Date))
INSERT [dbo].[Reviews] ([review_id], [username], [game_id], [rating], [comment], [created_at]) VALUES (N'RV003', N'dev01', N'GM003', 5, N'Gameplay hấp dẫn', CAST(N'2026-05-12' AS Date))
GO
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (N'R01', N'Admin')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (N'R02', N'Customer')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (N'R03', N'Developer')
GO
INSERT [dbo].[UserRoles] ([username], [role_id]) VALUES (N'admin01', N'R01')
INSERT [dbo].[UserRoles] ([username], [role_id]) VALUES (N'trieu01', N'R02')
INSERT [dbo].[UserRoles] ([username], [role_id]) VALUES (N'dev01', N'R03')
GO
INSERT [dbo].[Users] ([username], [email], [password], [fullname], [avatar], [created_date], [status]) VALUES (N'admin01', N'trieule.727050@gmail.com', N'123', N'Nguyễn Văn Admin', N'admin.png', CAST(N'2026-05-26' AS Date), N'Active')
INSERT [dbo].[Users] ([username], [email], [password], [fullname], [avatar], [created_date], [status]) VALUES (N'con gà', N'cubo12346789@gmail.com', N'1234', N'Trần Văn A', N'a', CAST(N'2026-06-10' AS Date), N'Active')
INSERT [dbo].[Users] ([username], [email], [password], [fullname], [avatar], [created_date], [status]) VALUES (N'dev01', N'dev@gmail.com', N'123456', N'Trần Minh Dev', N'dev.png', CAST(N'2026-05-26' AS Date), N'Active')
GO
INSERT [dbo].[WishList] ([wishlist_id], [username], [game_id], [added_at]) VALUES (N'WL001', N'admin01', N'GM002', CAST(N'2026-05-01' AS Date))
INSERT [dbo].[WishList] ([wishlist_id], [username], [game_id], [added_at]) VALUES (N'WL002', N'trieu01', N'GM003', CAST(N'2026-05-02' AS Date))
INSERT [dbo].[WishList] ([wishlist_id], [username], [game_id], [added_at]) VALUES (N'WL003', N'dev01', N'GM001', CAST(N'2026-05-03' AS Date))
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([cart_id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Cart]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_game] FOREIGN KEY([game_id])
REFERENCES [dbo].[game] ([game_id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_game]
GO
ALTER TABLE [dbo].[DeveloperProfiles]  WITH CHECK ADD  CONSTRAINT [FK_DeveloperProfiles_Users] FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[DeveloperProfiles] CHECK CONSTRAINT [FK_DeveloperProfiles_Users]
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD  CONSTRAINT [FK_Discounts_game] FOREIGN KEY([game_id])
REFERENCES [dbo].[game] ([game_id])
GO
ALTER TABLE [dbo].[Discounts] CHECK CONSTRAINT [FK_Discounts_game]
GO
ALTER TABLE [dbo].[game]  WITH CHECK ADD  CONSTRAINT [FK_game_DeveloperProfiles] FOREIGN KEY([developer_id])
REFERENCES [dbo].[DeveloperProfiles] ([developer_id])
GO
ALTER TABLE [dbo].[game] CHECK CONSTRAINT [FK_game_DeveloperProfiles]
GO
ALTER TABLE [dbo].[GameCategories]  WITH CHECK ADD  CONSTRAINT [FK_GameCategories_Categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
GO
ALTER TABLE [dbo].[GameCategories] CHECK CONSTRAINT [FK_GameCategories_Categories]
GO
ALTER TABLE [dbo].[GameCategories]  WITH CHECK ADD  CONSTRAINT [FK_GameCategories_Game] FOREIGN KEY([game_id])
REFERENCES [dbo].[game] ([game_id])
GO
ALTER TABLE [dbo].[GameCategories] CHECK CONSTRAINT [FK_GameCategories_Game]
GO
ALTER TABLE [dbo].[GameImages]  WITH CHECK ADD  CONSTRAINT [FK_GameImages_game] FOREIGN KEY([game_id])
REFERENCES [dbo].[game] ([game_id])
GO
ALTER TABLE [dbo].[GameImages] CHECK CONSTRAINT [FK_GameImages_game]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_game] FOREIGN KEY([game_id])
REFERENCES [dbo].[game] ([game_id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_game]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_game] FOREIGN KEY([game_id])
REFERENCES [dbo].[game] ([game_id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_game]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
ALTER TABLE [dbo].[WishList]  WITH CHECK ADD  CONSTRAINT [FK_WishList_game] FOREIGN KEY([game_id])
REFERENCES [dbo].[game] ([game_id])
GO
ALTER TABLE [dbo].[WishList] CHECK CONSTRAINT [FK_WishList_game]
GO
ALTER TABLE [dbo].[WishList]  WITH CHECK ADD  CONSTRAINT [FK_WishList_Users] FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[WishList] CHECK CONSTRAINT [FK_WishList_Users]
GO
USE [master]
GO
