<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameStore - Trang Chủ</title>
<head>
<body>
		Danh sách sản phẩm 
		<form action = "/abc2" method = "post">
			<block th:each = "item :${dscategory}">
				<input type = "checkbox" th:text = "${item.category_name}" th:value = "${item.category_id}" name = "category">
			</block>
			<button>upload</button>
		</form>
		<h2 th:text = "${cate}"></h2>
</body>
</html>